
html,body{
    height:100%;
    font-family: sans-serif
}
  
.toolbar{
    background-image: linear-gradient(#004A84, #00A3FF);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center
}

.items-wrapper {
    align-items: center
}

.toolbar-icon {
    margin: 17px;
}

.logo {
    float: right;
}

.tb-item{
    align-items: center;
    display: flex;
}

.link {
    display: inline-flex;
    margin-right: 20px;
}

.text {
    font-weight: 700;
    font-size: 18px;
    align-items: center;
    color: #FFFFFF;
    font-family: monospace;
    font-style: normal;
    margin-left: 5px;
}

.subscribe {
    border: 1px solid white;
    padding: 6px;
    border-radius: 7px;
}

.main-content {
    background-size: auto;
    background-image: url(background-image.png);
    text-align: center;
    height: calc(100vh - 75px);
    background-repeat: no-repeat;
    background-size: cover;
}

.error-main {
    height: 53%;
}

.error404 {
    font-size: 75px;
    font-weight: 700;
    color: #0460A9;
}

.error-subject {
    font-size: 32px;
    font-weight: 700;
}

.error-text {
    font-size: 22px;
}

.center-content {
    min-height: 42%;
}

.cards {
    background-color: rgba(4, 96, 169, 0.2);
    text-align: center;
    align-items: center;
    height: 47%;
}

.card-wrapper {
    display: inline-flex;
    padding-bottom: 2px;
}

.see-more {
    font-weight: 700;
    font-size: 26px;
    margin-top: 18px;
    margin-bottom: 15px;
}

.brand {
    color: #004a84;
}

.brand-card {
    border-radius: .75rem;
    margin-right: 20px;
    width: 200px;
    border-radius: 17px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 30%);
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0 0 8px 0;
}
.line1-icon {
    width: 20px;
    height: 20px;
}
.line1 {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.1em;
    height: 25px;
}
.card-icon {
    margin-left: 6px;
}
.line1stext {
    margin-left: 33px;
}
.line2 {
    background-color: #20385E;
    height: 55px;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.line2sub {
    margin: 0 auto;
}
.line3 {
    font-size: 10px;
    letter-spacing: 0.2em;
    border-bottom: 1px solid #ECECEC;
    height: 25px;
    display: flex;
    margin: 0 auto;
    width: 100%;
    align-items: center;
}
.line3sub {
    margin: 0 auto;
}
.line4 {
    font-weight: 700;
    font-size: 14px;
    height: 35px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.line5 {
    font-size: 14px;
    letter-spacing: -0.02em;
    height: 25px;
}
.line5sub {
    color: #004a84;
    font-weight: 600;
}
.line6 {
    font-size: 12px;
    height: 15px;
}
.line7 {
    background-color: #23B2F9;
    box-shadow: 0px 2px 3px rgb(0 0 0 / 15%);
    height: 25px;
    margin: 10px 10px 0 10px;
    border-radius: 30px;
    padding-top: 5px;
    font-size: 12px;
    color: white;
}

.see-all-button {
    display: inline;
    background: linear-gradient(270deg, #1F91FB -7.35%, #27E9F5 109.02%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    padding: 10px 40px;
    color: white;
}



@media (max-width: 1250px) { 
    .error-main {
        height: 40%;
    }
    .cards {
        height: 60%;
    }
    .error404 {
        font-size: 50px;
        padding: 25px 25px 15px 25px;
    }
    .error-subject {
        font-size: 25px;
    }
    .error-text {
        font-size: 12px;
    }
    .see-more {
        font-size: 17px;
        margin-top: 8px;
        margin-bottom: 6px;
    }
}
